<!DOCTYPE html>
<html>
    <head>
	{% if env = :dev %}
        <script src="d3.v7.js"></script>
        <script src="gen/js/puzzles.js" defer="true"></script>
        <script src="index.js" defer="true"></script>
	{% else %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.9.0/d3.min.js" defer="true"></script>
        <script defer="true">{% safe %}{{ allcode }}{% endsafe %}</script>
	{% endif %}
<style>

.cell {
    stroke: black;
    fill: white;
}

.blocker {
    stroke: black;
    fill: black;}

.numbered {
    font: 8pt sans-serif;
    stroke: black;
    fill: white;
}

.inputText {
    font: 32pt sans-serif;
    stroke: black;
}

.selected {
    fill: yellow;
    stroke: black;
}

.dirGuide {
    fill: lightblue;
    stroke: black;
}

.clues {
    font: 10pt sans-serif;
}

</style>
    </head>
    <body>
    </body>
</html>
